<div class="header__div">
    <!-- Header Section 1 -->
    <div class="header__div__heading"><h1>ZenduForms</h1></div>
    
    <!-- Header Section 2 -->
    <div class="header__div__nav">
        <ul>
            <li routerLink="forms"><i class="fa-solid fa-list-ul"></i>Forms</li>
            <li routerLink="customers"><i class="fa-solid fa-user-group"></i>Customers</li>
            <li routerLink="submissions"><i class="fa-solid fa-water"></i>Submissions</li>
            <li routerLink="history"><i class="fa-solid fa-clock-rotate-left"></i>History</li>
            <li routerLink="reports"><i class="fa-solid fa-square-poll-vertical"></i>Reports</li> 
            <li routerLink="workflow"><i class="fa-solid fa-square-poll-vertical"></i>Workflow</li>
        </ul>
    </div>

    <!-- Header Section 3 -->
    <div class="header__div__icons">
        <span><i class="fa-solid fa-bell"></i></span>
        <span><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
    </div>
</div>
