<div class="report__list__div">
  @for (r of reports(); track $index; let i = $index) {
  <button
    class="report__row"
    (click)="selectRow(i)"
    [class.report__row--selected]="selectedRow() === i"
  >
    <div class="report__row__field">
      <div class="report__row__value report__row__title"> 
        <i class="fa-solid fa-chart-pie" style="color: #1e90ff;"></i> 
        <b>{{ r.title }}</b>
      </div>
    </div>

    <div class="report__row__field">
      <span class="report__row__label">Created:</span>
      <span class="report__row__value">{{ r.created | date:'MMMM d, y' }}</span>
    </div>

    <div class="report__row__field">
      <span class="report__row__label">Modified:</span>
      <span class="report__row__value">{{ r.modified | date:'MMMM d, y' }}</span>
    </div>

    <div class="report__row__field">
      <span class="report__row__label">Owner:</span>
      <span class="report__row__value">{{ r.owner }}</span>
    </div>

    <div class="report__row__field">
      <span class="report__row__label">From:</span>
      <span class="report__row__value report__row__from">{{ r.from }}</span>
    </div>

    <div class="report__row__actions">
      @if (selectedRow() === i) {
        <button
            type="button"
            class="report__row__delete__btn"
            (click)="deleteReport.emit(r); $event.stopPropagation()"
          >
            <i class="fa-solid fa-trash report__row__delete"></i>
          </button>

          <button
            type="button"
            class="report__row__edit__btn"
            (click)="$event.stopPropagation()"
          >
            <i class="fa-solid fa-pencil report__row__edit"></i>
          </button>
      }
    </div>
  </button>
}
</div>